<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <model>
      <elements>
        <element interface="Sitecore.Strategy.Xdb.Ingest.Bizo.Models.IBizoData, Sitecore.Strategy.Xdb.Ingest.Bizo"
                 implementation="Sitecore.Strategy.Xdb.Ingest.Bizo.Models.BizoData, Sitecore.Strategy.Xdb.Ingest.Bizo" />
      </elements>
      <entities>
        <contact>
          <facets>
            <facet name="BizoData" contract="Sitecore.Strategy.Xdb.Ingest.Bizo.Models.IBizoData, Sitecore.Strategy.Xdb.Ingest.Bizo" />
          </facets>
        </contact>
      </entities>
    </model>
  </sitecore>
</configuration>