<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <model>
      <elements>
        <element interface="Sitecore.Strategy.Xdb.Ingest.Demandbase.Models.IDemandbaseData, Sitecore.Strategy.Xdb.Ingest.Demandbase" 
                 implementation="Sitecore.Strategy.Xdb.Ingest.Demandbase.Models.DemandbaseData, Sitecore.Strategy.Xdb.Ingest.Demandbase" />
      </elements>
      <entities>
        <contact>
          <facets>
            <facet name="DemandbaseData" contract="Sitecore.Strategy.Xdb.Ingest.Demandbase.Models.IDemandbaseData, Sitecore.Strategy.Xdb.Ingest.Demandbase" />
          </facets>
        </contact>
      </entities>
    </model>
    
    <pipelines>
      
      <getFacetMemberValues>
        <processor type="Sitecore.Strategy.Xdb.Ingest.Demandbase.Pipelines.GetFacetMemberValues, Sitecore.Strategy.Xdb.Ingest.Demandbase" />
      </getFacetMemberValues>
    
    </pipelines>


    <demandbaseTaxonomy type="Sitecore.Strategy.Xdb.Ingest.Demandbase.Config.DemandbaseTaxonomy, Sitecore.Strategy.Xdb.Ingest.Demandbase">
      <member hint="raw:AddItemName">
        <facetMember name="InformationLevel">
          <add description="Basic" value="Basic" />
          <add description="Detailed" value="Detailed" />
        </facetMember>
        
        <facetMember name="Audience">
          <add description="Enterprise Business" value="Enterprise Business" />
          <add description="Mid-Market" value="Mid-Market" />
          <add description="SMB" value="SMB"/>
          <add description="Government" value="Government"/>
          <add description="Education" value="Education" />
          <add description="Hospitality" value="Hospitality" />
          <add description="Residential" value="Residential" />
          <add description="Wireless" value="Wireless" />
          <add description="Bot" value="Bot" />
          <add description="SOHO" value="SOHO" />
          <add description="Obscured" value="Obscured" />
        </facetMember>
        
        <facetMember name="AudienceSegment">
          <add description="Administration" value="Administration" />
          <add description="City &amp; Local" value="City &amp; Local" />
          <add description="Federal" value="Federal" />
          <add description="Internaltional" value="International" />
          <add description="Military" value="Military" />
          <add description="Public Safety" value="Public Safety" />
          <add description="State" value="State" />
          <add description="Educational Services" value="Educational Services" />
          <add description="K12" value="K12" />
          <add description="University" value="University" />
          <add description="Vocational" value="Vocational" />
          <add description="Lodging" value="Lodging" />
          <add description="Hotspot" value="Hotspot" />
          <add description="Mobile Network" value="Mobile Network" />
        </facetMember>
        
      </member>
      
    </demandbaseTaxonomy>
  </sitecore>
</configuration>